@import "tailwindcss";

body {
  color: #ededed;
  background: #0B0D0E;
  font-family: 'Nunito', sans-serif;
}

header, h1, h2, h3, h4, h5, h6 {
  color: #ededed;
  font-family: 'Montserrat', sans-serif;
}

.monty {
  font-family: 'Montserrat', sans-serif;
}
